<header>
    <div class="container-navbar-header">
       <div class="main-logo"></div>
       <ul class="menu-list">
        <li><a href="#{{idThree}}">Home</a></li>
        <li><a href="#{{idTwo}}">Planos</a></li>
        <li><a href="#{{id}}">Contato</a></li>
        <li><a href="#" class="login-btn">Login</a></li>
       </ul>
       <i class="bi bi-list" (click)="onShowHide()"></i>
    </div>
    <!-- Menu Responsive -->
    <div class="container-navbar-header-responsive" [class.show]="showHide">
        <ul class="menu-list-responsive">
            <li><a href="#{{idThree}}">Home</a></li>
            <li><a href="#{{idTwo}}">Planos</a></li>
            <li><a href="#{{id}}">Contato</a></li>
            <li><a href="#" class="login-btn">Login</a></li>
        </ul>
    </div>
</header>