<!-- first content banner image -->
<div class="container-image-banner-content">
    <p class="title-content-image">HDC Host</p>
    <p class="content-image">Os melhores planos para qualquer tipo de projeto!</p>
</div>
<div class="container-image"></div>

<!-- Aqui está sendo configurado três primeiros informativos -->
<div class="container-flags-information">
    <div class="container-content-flag">
        <i class="bi bi-shield-shaded"></i>
        <p class="title-information">Segurança</p>
        <p class="content-information">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="container-content-flag">
        <i class="bi bi-rocket-takeoff-fill"></i>
        <p class="title-information">Segurança</p>
        <p class="content-information">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="container-content-flag">
        <i class="bi bi-wechat"></i>
        <p class="title-information">Segurança</p>
        <p class="content-information">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</div>

<!-- Configuração do titulo de seleção -->
<div class="container-flag-selection">
    <h3>
        Planos e Preços
    </h3>
    <p class="title-content-selection">
        Selecione o plano perfeito para você
    </p>
</div>

<!-- Configuração do items de seleção -->

<div class="main-container-content-items">
    <div class="first-container-item">
        <div class="content-price">
            R$15/mês
        </div>
        <p class="title-first-item">Padrão</p>
        <div class="main-content-item">
            <ul class="list">
                <li>2GB de espaço em disco</li>
                <li>10 Sub-domínio</li>
                <li>25 Contas de e-mail</li>
                <li>C-Panel</li>
                <li>Suporte 24/7</li>
            </ul>
        </div>
        <button class="btn-selection">Selecionar</button>
    </div>

    <div class="first-container-item">
        <div class="content-price">
            R$15/mês
        </div>
        <p class="title-first-item">Padrão</p>
        <div class="main-content-item">
            <ul class="list">
                <li>2GB de espaço em disco</li>
                <li>10 Sub-domínio</li>
                <li>25 Contas de e-mail</li>
                <li>C-Panel</li>
                <li>Suporte 24/7</li>
            </ul>
        </div>
        <button class="btn-selection">Selecionar</button>
    </div>

    <div class="first-container-item">
        <div class="content-price">
            R$15/mês
        </div>
        <p class="title-first-item">Padrão</p>
        <div class="main-content-item">
            <ul class="list">
                <li>2GB de espaço em disco</li>
                <li>10 Sub-domínio</li>
                <li>25 Contas de e-mail</li>
                <li>C-Panel</li>
                <li>Suporte 24/7</li>
            </ul>
        </div>
        <button class="btn-selection">Selecionar</button>
    </div>

    <div class="first-container-item">
        <div class="content-price">
            R$15/mês
        </div>
        <p class="title-first-item">Padrão</p>
        <div class="main-content-item">
            <ul class="list">
                <li>2GB de espaço em disco</li>
                <li>10 Sub-domínio</li>
                <li>25 Contas de e-mail</li>
                <li>C-Panel</li>
                <li>Suporte 24/7</li>
            </ul>
        </div>
        <button class="btn-selection">Selecionar</button>
    </div>
</div>
